<%- include('./partials/boilerplate.ejs') %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<%- include('./partials/nav.ejs', {check: check, username: username, email: email}) %>
<link rel="stylesheet" href="/css/film.css">
<title>
  <%= "Polaroid | " + data.title %>
</title>
<% if (data.backdrop_path) { %>
  <div class="image">
    <div class="inner-image" style="background-image: url('<%= " https://image.tmdb.org/t/p/original/" +
      data.backdrop_path %>');"></div>
  </div>
<% } %>
<div class="main">
  <div class="movieheading">
    <h1 class="moviename">
      <%= data.title %>
    </h1>
    <p class="year">
      <%= data.release_date.slice(0, 4) %>
    </p>
    <p class="directedBy">
      Directed by <%= data.director %>
    </p>
  </div>
  <div class="content">
    <div class="wheretowatch">
      <div class="wtw-poster">
        <img width="100%" src=<%="https://image.tmdb.org/t/p/original"+ data.poster_path %> >
      </div>
      <table>
        <tr>
          <!-- <td class="wtw">WHERE TO WATCH <a class="trailer" target="_blank" href="http://youtube.com"> <img src="/assets/favicon-16x16.png" alt="favicon"></a> </td> -->
          <td>
            <div class="wtw">
              <div class="wtw-left">
                WHERE TO WATCH
              </div>
              <div class="wtw-right">
                <a href="http://google.com" target="_blank">
                  Trailer
                  <img src="/assets/movie.png" height="16px">
                </a>
              </div>
            </div>
          </td>
        </tr>
        <% if (watchProviders) { %>
          <% if (watchProviders.buy) { %>
            <% for( let index=0; index < watchProviders.buy.length; index++ ) { %>
              <tr>
                <td>
                  <a><img src=<%="https://image.tmdb.org/t/p/original/" + watchProviders.buy[index].logo_path %>
                    height="16px"> <%= watchProviders.buy[index].provider_name %> </a>
                </td>
              </tr>
              <% } %>
          <% } if (!watchProviders) { %>
              <tr>
                <td>
                  --None--
                </td>
              </tr>
          <% } %>
        <% } %>
      </table>
    </div>
    <div class="centre">
      <p class="catchphrase">
        <%= data.tagline.toUpperCase() %>
      </p>
      <p class="description">
        <%= data.overview %>
      </p>
      <p class="genres">
        GENRES
      </p>
      <div class="castDiv">
        <% for (let i=0; i<data.genres.length; i++) { %>
          <div class="castBlock">
            <%= data.genres[i].name %>
          </div>
          <% } %>
      </div>
      <p class="genres">
        CAST
      </p>
      <div class="castDiv">
        <% for (let i=0; i<Math.min(cast.cast.length, 10); i++) { %>
          <div class="castBlock">
            <%= cast.cast[i].name %>
          </div>
          <% } %>
      </div>
    </div>
    <div class="right-side">
      <% if (check===false) { %>
        <button class="sign-in">
          Sign in to rate or review
        </button>
        <% } %>
      <button class="share">
        Share
      </button>
      <% if (check===true) { %>
        <button class="bookTickets" onclick="location.href='/bookingdetails'">
          Book Tickets
        </button>
      <% } %>
      <p class="genres">
        RATING
      </p>
      <% if (reviews.avg===undefined) { %>
        <p class="notReviewed">
          This movie has not been reviewed yet!
        </p>
      <% } %>
      <p class="ratingAns">
        <%= reviews.avg %>⭐
      </p>
    </div>
  </div>
  <div class="bottom-content">
    <div></div>
    <div class="rightBottom">
      <p class="genres">
        POPULAR REVIEWS
      </p>
      <p class="reviewComment">
        <%= reviews.comment %>
      </p>
      <% if (reviews.comment.length <=0 ) { %>
        <% for( let index=0; index < Math.min(reviews.reviews.length, 3); index++ ) { %>
          <p class="reviewName">
            Review by 
            <a class="profileLink" href=<%= '/profile/'+reviews.reviews[index].username.replace(" ", "%20") %>>
              <span class="reviewN">
                <%= reviews.reviews[index].username %>
              </span> 
            </a>
            <span class="starsReview">
              <%= reviews.reviews[index].stars %> ⭐
            </span>
          </p>
          <p class="reviewMain">
            <%= reviews.reviews[index].body %>
          </p>
        <% } %>
      <% } %>
      <% if (check===true) { %>
        <form class="addReview" method="post">
          <p class="reviewAdd">Add your review: </p>
          <div class="star-rating">
            <input type="radio" id="5-stars" name="rating" value="5" required />
            <label for="5-stars" class="star">&#9733;</label>
            <input type="radio" id="4-stars" name="rating" value="4" />
            <label for="4-stars" class="star">&#9733;</label>
            <input type="radio" id="3-stars" name="rating" value="3" />
            <label for="3-stars" class="star">&#9733;</label>
            <input type="radio" id="2-stars" name="rating" value="2" />
            <label for="2-stars" class="star">&#9733;</label>
            <input type="radio" id="1-star" name="rating" value="1" />
            <label for="1-star" class="star">&#9733;</label>
          </div>
          <textarea name="body" rows="7" class="inputReview" required autocomplete="off"></textarea>
          <button type="submit" class="submitReview btn btn-outline-success">Submit Review</button>
          <p class="errorReview">
            <%= errorReview %>
          </p>
        </form>
      <% } %>
    </div>
  </div>
  <div class="bottom-content">
    <div></div>
    <div class="rightBottom">
      <p class="genres">
        RELATED FILMS
      </p>
      <div class="relFilms">
        <% for (let index=0; index < Math.min(similar.results.length, 10); index++) { %>
          <img onclick="location.href='<%= similar.results[index].id  %>'"
            src= <%="https://image.tmdb.org/t/p/original" + similar.results[index].poster_path %>
            width="18%" 
            height="auto"
          >
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') -%>