<%- include('./partials/boilerplate.ejs') %>
  <%- include('./partials/nav.ejs', {check: check}) %>
    <link rel="stylesheet" href="/css/settings.css" />
    <div class="settings-main">
      Account Settings
      <div class="cont">
        <form class="leftSide">
          Profile
          <label for="username">Username</label>
          <input type="text" value=<%=username %> id="username" />

          <label for="email">Email Address</label>
          <input type="email" value=<%=email %> id="email" readonly />

          <label for="bio">Bio</label>
          <textarea rows="7" type="text" id="bio"></textarea>

          Change Password
          <label for="origPs">Original Password</label>
          <input type="password" id="origPs" />

          <label for="newPs">New Password</label>
          <input type="password" id="newPs" />
          <button type="submit" class="submitButton">SAVE CHANGES</button>

        </form>
        <div class="rightSide">
          Favourite Films
          <div class="rightFavs">
            <div onclick="location.href='/film'"><img
                src="https://media.outnow.ch/Movies/News/2015/06/25/Neues-Poster-zu-Mission-Impossible-Rogue-Nation/f001.jpg">
            </div>
            <div onclick="location.href='/film'"><img
                src="https://media.outnow.ch/Movies/News/2015/06/25/Neues-Poster-zu-Mission-Impossible-Rogue-Nation/f001.jpg">
            </div>
            <div> - </div>
            <div> - </div>
          </div>
          Watchlist
          <div class="rightFavs">
            <div onclick="location.href='/film'"><img
                src="https://media.outnow.ch/Movies/News/2015/06/25/Neues-Poster-zu-Mission-Impossible-Rogue-Nation/f001.jpg">
            </div>
            <div onclick="location.href='/film'"><img
                src="https://media.outnow.ch/Movies/News/2015/06/25/Neues-Poster-zu-Mission-Impossible-Rogue-Nation/f001.jpg">
            </div>
            <div onclick="location.href='/film'"><img
                src="https://media.outnow.ch/Movies/News/2015/06/25/Neues-Poster-zu-Mission-Impossible-Rogue-Nation/f001.jpg">
            </div>
            <div onclick="location.href='/film'"><img
                src="https://media.outnow.ch/Movies/News/2015/06/25/Neues-Poster-zu-Mission-Impossible-Rogue-Nation/f001.jpg">
            </div>
          </div>
          <form action="/user/settings" method="delete" class="deacForm">
            <button class="deleteAccount" type="submit">DEACTIVATE ACCOUNT</button>
          </form>
        </div>
      </div>
      <form action="/user/settings" method="post">
        <button class="logoutButton" type="submit">SIGN OUT</button>
      </form>
    </div>
    <%- include('./partials/footer.ejs') %>