<%- include('./partials/boilerplate.ejs') %>
<%- include('./partials/nav.ejs', {check: check, username: username, email: email}) %>
<link rel="stylesheet" href="/css/user_list.css">
<title>Polaroid | <%=username %> | Lists</title>
  <div class="main">
    <div class="list-adder-section">
      <button type="button" class="btn btn-outline-warning button-adder" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="button-desc">Create a New List</div>
        <p style="color: red;"> <%= errorCreation %> </p>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
      </button>
    </div>

    <div class="section-heading">My Lists</div>

    <div class="list-contents">
      <% if (lists.length === 0) { %>
        <p class="noLists">You have not created any lists yet!</p>
      <% } %>
      <% if (lists.length !== 0) { %>
        <% for (let index=0; index<lists.length; index++) { %>
          <div class="element-container">
            <div class="list-image-container">
              <% if (lists[index].items.length > 0) { %>
                <img class="list-image" src=<%= "https://image.tmdb.org/t/p/original" + lists[index].items[0].poster_path %> alt="image">
              <% } %>
              <% if (lists[index].items.length === 0) { %>
                <img class="list-image" src="https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg" alt="image">
              <% } %>
            </div>
            <div class="list-content">
              <div class="list-metadata">
                <div class="list-header">
                  <a style="text-decoration: none;" href=<%= "/user/list/"+lists[index].listName.split(" ").join("%20") %> > <div class="mylist-name"> <%= lists[index].listName %> </div> </a>
                </div>
                <form method="post" action=<%= "/user/list/delete/"+lists[index].listName.split(" ").join("%20") %> >
                  <button type="submit" class="delete-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="grey" class="bi bi-trash-fill" viewBox="0 0 16 16" opacity="0.8">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                  </button>
                </form>
              </div>
              <div class="list-desc">
                <%= lists[index].description %>
              </div>
              <div class="list-creation">
                Created on
                <div class="list-date"> <%= lists[index].createdAt.toString().slice(0, 15) %> </div>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content list-adder-dialog">
        <form action="/user/list" method="post">
          <div class="new-list-header">
            <div class="modal-title" id="staticBackdropLabel">Create a New List</div>
          </div>
          <div class="new-list-body">
            <label class ="new-list-input-label" for="new-list-name">Enter the list name</label>
            <input class="new-list-input" type="text" name="listName" id="new-list-name" placeholder="List name" autocomplete="off" required>

            <label class ="new-list-input-label" for="new-list-description">Enter the list description</label>
            <textarea class="new-list-textarea" type="text" name="description" id="new-list-description" placeholder="List description" autocomplete="off" required></textarea>
          </div>


          <div class="modal-footer" style="border: none;">
            <!-- Instructions for the implementation -->
            <!--
            > Change the onclick to onsubmit
            > createList() creates the object
            -->
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Discard</button>
            <button type="submit" class="btn btn-outline-success">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/scripts/user_list.js" charset="utf-8"></script>
<%- include('./partials/footer.ejs') %>
